* {
    box-sizing: border-box;
}

/* applied to ALL */
body {
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* NAVIGATION for ALL PAGES */
nav {
    display: inline-block;
    color: #51279B;
}
header ul {
    list-style-type: none;
    padding-left: 5px;
}
header li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
    text-decoration: none;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    color: #8662C7; 
}

/* HEADER for index.html */
header.index {
    background-image: url("images/florence.jpg");
    background-size: cover;
    width: 100%;
    min-height: 500px;
}
.explore_time {
    padding: 20px;
    padding-left: 100px;
}
.explore_time h1 {
    color: white;
    font-size: 48px;
}
.explore_time p {
    color: white;
    font-size: 24px;
}
.explore_time a {
    display: inline-block;
    background-color: #51279B;
    color: white;
    padding: 20px;
}
.explore_time a:hover {
    background-color: #8662C7;
}

/* CARDS FOR index.html */
section.cards  {
    padding-top: 14px;
    padding-left: 10px;
}
.cards div {
    display: inline-block;
    /* background-color: white; */
    /* padding: 10px; */
    /* margin: 10px; */
    width: auto;
}
.cards ul {
    list-style-type: none;
    margin: 0px;
    /* margin-left: 5px; */
    padding: 0px;
    background-color: white;
}
.cards li {
    padding-top: 3px;
    padding-bottom: 3px;
}
.cards a {
    color: black;
}
.cards a:hover {
    color: #8662C7;
}
.cards li#image img {
    width: 490px;
}
.cards li#title {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.cards li#excerpt {
    padding-left: 10px;
    font-size: 12px;
}
.cards span {
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
}
.cards span img {
    width: 25px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
}
.cards #number-likes img {
    padding-bottom: 1px;
}

/* applied to ALL */
footer {
    text-align: center;
    background-color: #51279B;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #ddccff;
}

/* for ALL INDIVIDUAL CARDS */
main#big_image h3 {
    text-align: center;
}
/* guided by: https://www.w3schools.com/howto/howto_css_image_center.asp */
main#big_image #main_img {
    display: block;
    width: 999px;
    height: 555px;
    margin-left: auto;
    margin-right: auto;
    border: 17px solid #51279B;
    border-style: double;
    border-radius: 17px;
}
p#description, p#city_country {
    text-align: center;
    font-size: 17px;
}
p#city_country {
    font-style: italic;
}
p#likes, p#comments {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 7px;
    margin-top: 0px;
}
p#likes {
    padding-left: 710px;
}
p#comments {
    padding-left: auto;
}
p#likes img, p#comments img {
    display: block;
    width: 30px;
    padding-bottom: 5px;
}
p#likes img {
    margin-bottom: 2px;
}
/* guided by: https://stackoverflow.com/questions/45536537/centering-in-css-grid */
section#related_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
section#related_images img {
    border: 7px solid #8662C7;
    border-style: double;
    border-radius: 10px;
} 



